@font-face {
	font-family: "Aquire";
	src: url(../font/AquireBold-8Ma60.otf) format("opentype")
}

:root {
  --darker: #2c3137;
  --blue: #0026ff;
  --grey: #6b6c70;
  --white: #fff;
  --red: #ff0000;
  --black:#080808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "LIQUIDO", "Aquire", sans-serif;
}

body {
  background-color: var(--darker);
  height: 100vh;
}

header {
  display: flex;
  padding: 20px;
}

header img {
  margin-bottom: 30px;
  margin-right: 50px;
  margin-top: 30px;
}

main {
  display: flex;
}

main form {
  margin: auto;
  width: 350px;
  height: 650px;
  padding: 40px 40px 60px;
  background-color: var(--darker);
  border-radius: 10px;
  text-align: center;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
  
}

main form h2 {
  color: var(--white);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}

main form .input {
  text-align: left;
  margin-top: 40px;
  cursor: none;
}

main form .input .inputBox {
  margin-top: 20px;
  cursor: none;
}

main form .input .inputBox #mdp label {
  display: grid;
  cursor: none;
}
main form .input .inputBox #mdp label img {
  cursor: pointer;
  cursor: none;
}

main form .input .inputBox label {
  display: block;
  color: var(--grey);
  margin-bottom: 5px;
  font-size: 18px;
  cursor: none;
}

main form .input .inputBox input {
  width: 100%;
  height: 50px;
  background-color: var(--darker);
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 18px;
  color: var(--blue);
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  cursor: none;
}

main form .input .inputBox input[type="submit"] {
  color: var(--white);
  transition: 0.5s;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
  
}
main form .input .inputBox input[type="submit"]:hover {
  transition: 0.5s;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  color: var(--blue);
  cursor: none;
}

html {
  cursor: none;
}
html:hover #cursor {
  display: flex;
}
#cursor {
  height: 0;
  width: 0;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 1000;
}
#cursor:before, #cursor:after {
  content: "";
  display: block;
  border-radius: 100%;
  position: absolute;
}
#cursor:before {
  border: dashed 4px var(--red);
  height: 15px;
  width: 15px;
  z-index: 100000;
}


#btnToConnexion, #btnToInscription{
  margin-top: 30px;
  width: 100%;
  height: 50px;
  background-color: var(--darker);
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 18px;
  color: var(--grey);
  cursor: none;
}
#btnToConnexion:hover, #btnToInscription:hover{
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  color: var(--blue);
  transition: 0.5s;
}
.error, a{
  color: #ff0000;
  font-size: 12px;
  margin: 20px;
}

.valid{
  
  color: #00ff00;
  font-size: 12px;
  margin: 20px;
  
}

a{
  margin: 0;
  color:var(--white);
}

a:hover{
  cursor: none;
}

h1{
  font-size: 1em;
  color: var(--grey);
  margin: 10px;
}

.custom-radios div {
  display: inline-block;
}
.custom-radios input[type=radio] {
  display: none;
}
.custom-radios input[type=radio] + label {
  color: var(--darker);
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radios input[type=radio] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radios input[type=radio] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
}
.custom-radios input[type=radio]#color-1 + label span {
  background-image: url(../images/avatar/1.jpg);
  background-size: contain;
}
.custom-radios input[type=radio]#color-2 + label span {
  background-image: url(../images/avatar/2.jpg);
  background-size: contain;
}
.custom-radios input[type=radio]#color-3 + label span {
  background-image: url(../images/avatar/3.jpg);
  background-size: contain;
}
.custom-radios input[type=radio]#color-4 + label span {
  background-image: url(../images/avatar/4.jpg);
  background-size: contain;
}
.custom-radios input[type=radio]#color-5 + label span {
  background-image: url(../images/avatar/5.jpg);
  background-size: contain;
}
.custom-radios input[type=radio]:checked + label span img {
  opacity: 1;
}